@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*---------RESET--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

header {
  background-color: #6C757D;
  padding: 15px;
  border: 5px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10; }
  header nav .container-fluid .navbar-brand {
    font-size: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600; }
    header nav .container-fluid .navbar-brand span {
      color: red; }
  header nav .container-fluid div ul {
    list-style: none;
    display: flex; }
    header nav .container-fluid div ul li {
      margin: 5px; }
      header nav .container-fluid div ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        text-align: right; }
        header nav .container-fluid div ul li aselection {
          color: red; }

main {
  background-color: #FDF5E6; }
  main h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 10px; }
    main h2selection {
      background-color: darkred;
      color: white; }
  main p {
    font-family: 'Poppins', sans-serif;
    padding: 10px; }
    main pselection {
      background-color: darkred;
      color: white; }
  main .hero {
    width: 100%;
    height: calc(100vh - 185px);
    background-image: url(../img/juntada-jdm.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .hero h1 {
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      font-size: 50px;
      font-weight: 600;
      color: white; }
      main .hero h1 span {
        color: red; }
      main .hero h1selection {
        background-color: darkred;
        color: white; }
    main .hero p {
      margin-bottom: 10px;
      font-size: 16px;
      color: white;
      font-weight: 600; }
      main .hero pselection {
        background-color: darkred;
        color: white; }
    main .hero a {
      width: 180px;
      text-decoration: none;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      font-size: 30px;
      font-weight: 600;
      border: 1px black solid;
      background-color: black;
      transition-property: background-color;
      transition-duration: 1.5s;
      transition: 0.5s;
      transition-timing-function: ease-in; }
      main .hero ahover {
        background-color: red;
        color: white;
        width: 25%; }
      main .hero aselection {
        background-color: darkred;
        color: white; }
  main .vehiculos {
    padding: 10px;
    margin-top: 40px; }
    main .vehiculos h2 {
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      font-weight: 600; }
      main .vehiculos h2selection {
        background-color: darkred;
        color: white; }
    main .vehiculos p {
      font-family: 'Poppins', sans-serif;
      margin-bottom: 15px;
      font-weight: 600; }
      main .vehiculos pselection {
        background-color: darkred;
        color: white; }
    main .vehiculos .card-flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      main .vehiculos .card-flex div {
        width: 402px;
        height: 400px;
        border: 1px black solid;
        text-align: center;
        margin: 20px;
        box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
        transition: 1s; }
        main .vehiculos .card-flex divhover {
          transform: scale(1.2); }
        main .vehiculos .card-flex div img {
          width: 400px;
          height: 250px; }
        main .vehiculos .card-flex div h3 {
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 25px;
          color: black; }
          main .vehiculos .card-flex div h3selection {
            background-color: darkred;
            color: white; }
        main .vehiculos .card-flex div .boton {
          text-decoration: none;
          color: white;
          border: 3px black solid;
          background-color: black;
          transition-property: background-color;
          transition-duration: 1.5s; }
          main .vehiculos .card-flex div .botonselection {
            background-color: darkred;
            color: white; }
  main h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
    font-size: 32px;
    color: black; }
    main h2selection {
      background-color: darkred;
      color: white; }
  main p {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    font-size: 16px;
    color: black;
    font-weight: 600; }
    main pselection {
      background-color: darkred;
      color: white; }
  main .grid-galeria {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px; }
    main .grid-galeria .grid-item {
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      position: relative; }
      main .grid-galeria .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .grid-galeria .grid-item h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
        width: 100%;
        text-align: center; }
        main .grid-galeria .grid-item h3selection {
          background-color: darkred;
          color: white; }
    main .grid-galeria .img-4 {
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      position: relative;
      grid-column: span 2; }
      main .grid-galeria .img-4 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .grid-galeria .img-4 h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
        width: 100%;
        text-align: center; }
        main .grid-galeria .img-4 h3selection {
          background-color: darkred;
          color: white; }
    main .grid-galeria .img-6 {
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      position: relative;
      grid-row: span 2; }
      main .grid-galeria .img-6 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .grid-galeria .img-6 h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
        width: 100%;
        text-align: center; }
        main .grid-galeria .img-6 h3selection {
          background-color: darkred;
          color: white; }
    main .grid-galeria .img-8 {
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      position: relative;
      grid-row: span 2; }
      main .grid-galeria .img-8 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .grid-galeria .img-8 h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
        width: 100%;
        text-align: center; }
        main .grid-galeria .img-8 h3selection {
          background-color: darkred;
          color: white; }
    main .grid-galeria .img-9 {
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      position: relative; }
      main .grid-galeria .img-9 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .grid-galeria .img-9 h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.562);
        width: 100%;
        text-align: center; }
        main .grid-galeria .img-9 h3selection {
          background-color: darkred;
          color: white; }
  main .videos {
    padding: 10px;
    margin-top: 40px; }
    main .videos h2 {
      font-style: italic;
      font-size: 32px;
      color: black;
      font-weight: 600; }
      main .videos h2selection {
        background-color: darkred;
        color: white; }
    main .videos p {
      font-size: 16px;
      color: black;
      font-weight: 600; }
      main .videos pselection {
        background-color: darkred;
        color: white; }
    main .videos div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }

main .contactenos {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px; }
  main .contactenos h1 {
    font-style: italic;
    font-size: 32px;
    color: black;
    font-weight: 600; }
    main .contactenos h1selection {
      background-color: darkred;
      color: white; }
  main .contactenos p {
    font-size: 16px;
    color: black;
    font-weight: 600; }
    main .contactenos pselection {
      background-color: darkred;
      color: white; }

main .consulta {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  color: black; }

main .despedida h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: italic;
  padding-bottom: 50px;
  color: black; }
  main .despedida h2selection {
    background-color: darkred;
    color: white; }

main .bg-nosotros {
  background: oldlace;
  background: linear-gradient(90deg, oldlace 23%, oldlace 42%, #333333 100%, #7a734f 100%); }
  main .bg-nosotros .nosotros {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .bg-nosotros .nosotros div {
      width: 50%; }
      main .bg-nosotros .nosotros div h1 {
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 32px;
        color: black; }
        main .bg-nosotros .nosotros div h1selection {
          background-color: darkred;
          color: white; }
      main .bg-nosotros .nosotros div p {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: black; }
        main .bg-nosotros .nosotros div pselection {
          background-color: darkred;
          color: white; }
    main .bg-nosotros .nosotros img {
      width: 600px;
      height: 600px; }

main .taller {
  padding-top: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .taller div h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    color: black; }
    main .taller div h2selection {
      background-color: darkred;
      color: white; }
  main .taller div p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black; }
    main .taller div pselection {
      background-color: darkred;
      color: white; }
  main .taller img {
    width: 600px;
    height: 600px; }

main .productos {
  text-align: center;
  font-family: 'Poppins', sans-serif; }
  main .productos h1 {
    font-style: italic;
    font-size: 32px;
    color: black;
    font-weight: 600; }
    main .productos h1selection {
      background-color: darkred;
      color: white; }
  main .productos p {
    font-size: 16px;
    color: black;
    font-weight: 600; }
    main .productos pselection {
      background-color: darkred;
      color: white; }
  main .productos .tarjeta-productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    main .productos .tarjeta-productos div {
      width: 402px;
      height: 400px;
      border: 1px black solid;
      text-align: center;
      margin: 50px;
      box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 46px 5px rgba(0, 0, 0, 0.75);
      transition: 1s; }
      main .productos .tarjeta-productos divhover {
        transform: scale(1.2); }
      main .productos .tarjeta-productos div img {
        width: 400px;
        height: 250px; }
      main .productos .tarjeta-productos div h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: black; }
        main .productos .tarjeta-productos div h3selection {
          background-color: darkred;
          color: white; }
      main .productos .tarjeta-productos div .boton {
        background-color: black;
        color: #FFFFFF;
        transition-property: background-color;
        transition-duration: 1.5s; }
        main .productos .tarjeta-productos div .botonselection {
          background-color: darkred;
          color: white; }

main .servicios {
  color: white;
  width: 100%;
  height: calc(100vh - 201px);
  background-image: url(../img/rx7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif; }
  main .servicios h1 {
    font-style: italic;
    font-size: 32px;
    color: white;
    font-weight: 600; }
    main .servicios h1selection {
      background-color: darkred;
      color: white; }
  main .servicios p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white; }
    main .servicios pselection {
      background-color: darkred;
      color: white; }

footer {
  background-color: #2C3539;
  border: 5px black solid;
  padding: 15px;
  display: flex;
  justify-content: space-between; }
  footer h2 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: white;
    font-size: 32px; }
    footer h2 span {
      color: red; }
  footer div a img {
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: 1s; }
    footer div a imghover {
      transform: scale(1.3); }

@media screen and (max-width: 950px) {
  main .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px; }
  main .grid-galeria .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  main .grid-galeria .grid-item .img-9 {
    grid-column: span 2; }
  main .videos div iframe {
    padding: 15px; } }

@media screen and (max-width: 860px) {
  main .nosotros {
    flex-direction: column; }
  main .taller {
    flex-direction: column; } }

@media screen and (max-width: 695px) {
  main .servicios p {
    font-size: 17px; } }

@media screen and (max-width: 620px) {
  header {
    flex-direction: column;
    position: static; }
  main .hero h1 {
    font-size: 25px; }
  main .nosotros img {
    width: 400px;
    height: 400px; }
  main .taller img {
    width: 400px;
    height: 400px; } }

@media screen and (max-width: 520px) {
  main .servicios p {
    font-size: 15px; } }

@media screen and (max-width: 485px) {
  main .hero {
    margin-bottom: 100px; }
  main .hero h1 {
    font-size: 25px; }
  header nav .container-fluid .navbar-brand {
    font-size: 25px; } }

@media screen and (max-width: 460px) {
  main .hero {
    margin-bottom: 150px; }
  main .hero h1 {
    font-size: 15px; } }

@media screen and (max-width: 450px) {
  main .grid-galeria {
    grid-template-columns: 1fr; }
  main .grid-galeria .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  main .productos .tarjeta-productos div {
    width: 350px;
    height: 300px;
    margin-bottom: 100px; }
  main .productos .tarjeta-productos div img {
    width: 355px;
    height: 300px; }
  main .videos p {
    margin-bottom: 50px; }
  main .videos div iframe {
    padding: 15px; }
  main .hero {
    margin-bottom: 160px; }
  main .hero h1 {
    font-size: 15px; } }

@media screen and (max-width: 425px) {
  header nav .container-fluid div ul {
    flex-direction: column; }
  main .hero {
    margin-bottom: 100px; }
  main .hero h1 {
    font-size: 15px; }
  main .nosotros img {
    width: 300px;
    height: 300px; }
  main .taller img {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 422px) {
  main .hero p {
    font-size: 15px; } }

@media screen and (max-width: 400px) {
  main .hero a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    border: 1px black solid;
    background-color: black; }
  main .hero p {
    font-size: 14px; }
  main .productos .tarjeta-productos div {
    width: 330px;
    height: 280px;
    margin-bottom: 100px; }
  main .productos .tarjeta-productos div img {
    width: 335px;
    height: 280px; }
  main .servicios p {
    font-size: 14px; } }

@media screen and (max-width: 370px) {
  main .hero a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    border: 1px black solid;
    background-color: black; }
  main .hero p {
    font-size: 14px; }
  main .productos .tarjeta-productos div {
    width: 310px;
    height: 260px;
    margin-bottom: 100px; }
  main .productos .tarjeta-productos div img {
    width: 315px;
    height: 260px; } }

@media screen and (max-width: 360px) {
  main .hero p {
    font-size: 14px; } }

/*!----------PSEUDO CLASES-------------*/
.boton:hover {
  background-color: red;
  color: white;
  width: 25%; }

.vehiculos .card-flex div:hover {
  transform: scale(1.1); }

.productos .tarjeta-productos div:hover {
  transform: scale(1.1); }

footer div a img:hover {
  transform: scale(1.3); }

/*!----------PSEUDO ELEMENTOS-----------*/
header nav .container-fluid .navbar-brand::selection {
  background-color: darkred;
  color: white; }

h1::selection {
  background-color: darkred;
  color: white; }

h2::selection {
  background-color: darkred;
  color: white; }

h3::selection {
  background-color: darkred;
  color: white; }

p::selection {
  background-color: darkred;
  color: white; }

.boton::selection {
  background-color: darkred;
  color: white; }

header nav ul li a::selection {
  color: red; }
