@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    
    
    /*---------RESET--------------*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }

    body{
        font-family: 'Poppins', sans-serif;
    }

    main h2{
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 600;
        padding: 10px;
    }

    main p{
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }