@media screen and (max-width:950px){
    main .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
    }

    main .grid-galeria .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    main .grid-galeria .grid-item .img-9{
        grid-column: span 2;
    }

    main .videos div iframe{
        padding: 15px;
    }
}


@media screen and (max-width:860px){
    main .nosotros{
        flex-direction: column;
    }

    main .taller{
        flex-direction: column;
    }    
}

@media screen and (max-width:695px){

    main .servicios p{

        font-size: nth($font-size, 4);
    }
}



@media screen and (max-width:620px){
    header{
        flex-direction: column;
        position: static;
    }

    main .hero h1{
        font-size: nth($font-size, 6);
    }

    main .nosotros img{
        width: 400px;
        height: 400px;
    }

    main .taller img{
        width: 400px;
        height: 400px;
    }

}


@media screen and (max-width:520px){

    main .servicios p{

        font-size: nth($font-size, 2);
    }
}


@media screen and (max-width:485px){

    main .hero{
        margin-bottom: 100px;
    }

    main .hero h1{
        font-size: nth($font-size, 6);
    }


    header nav .container-fluid .navbar-brand{
        font-size: nth($font-size, 6);
    }

}

@media screen and (max-width:460px){
    main .hero{
        margin-bottom: 150px;
    }

    main .hero h1{
        font-size: nth($font-size, 2);
    }
}

@media screen and (max-width:450px){
    main .grid-galeria{
        grid-template-columns: 1fr;
    }

    main .grid-galeria .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    main .productos .tarjeta-productos div{

        width: 350px;
        height: 300px;
        margin-bottom: 100px;
    }


    main .productos .tarjeta-productos div img{
        width: 355px;
        height: 300px;
    }

    main .videos p{
        margin-bottom: 50px;
    }

    main .videos div iframe{
        padding: 15px;
    }

    main .hero{
        margin-bottom: 160px;
    }

    main .hero h1{
        font-size: nth($font-size, 2);
    }
    
}
    

@media screen and (max-width:425px){

    header nav .container-fluid div ul{
        flex-direction: column;
    }

    main .hero{
        margin-bottom: 100px;
    }

    main .hero h1{
        font-size: nth($font-size, 2);
    }

    main .nosotros img{
        width: 300px;
        height: 300px;
    }

    main .taller img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:422px){

    main .hero p{
        font-size: nth($font-size, 2);
    }
}

@media screen and (max-width:400px){

    main .hero a{
        text-decoration: none;
        color: $color-terciario;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-size: nth($font-size, 2);
        font-weight: 300;
        border: 1px black solid;
        background-color: nth($paleta-colores, 2);

    }

    main .hero p{
        font-size: nth($font-size, 1);
        
    }

    main .productos .tarjeta-productos div{

        width: 330px;
        height: 280px;
        margin-bottom: 100px;
    }


    main .productos .tarjeta-productos div img{
        width: 335px;
        height: 280px;
    }


    main .servicios p{

        font-size: nth($font-size, 1);
    }
}

@media screen and (max-width:370px){

    main .hero a{
        text-decoration: none;
        color: $color-terciario;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-size: nth($font-size, 2);
        font-weight: 300;
        border: 1px black solid;
        background-color: nth($paleta-colores, 2);

    }

    main .hero p{
        font-size: nth($font-size, 1);
        
    }

    main .productos .tarjeta-productos div{

        width: 310px;
        height: 260px;
        margin-bottom: 100px;
    }


    main .productos .tarjeta-productos div img{
        width: 315px;
        height: 260px;
    }
}

@media screen and (max-width:360px){
    main .hero p{
        font-size: nth($font-size, 1);
        
    }
    }



/*!----------PSEUDO CLASES-------------*/

.boton:hover{
    background-color: $color-secundario;
    color: $color-terciario;
    width: 25%;
}

.vehiculos .card-flex div:hover{
    transform: scale(1.2);
}

.productos .tarjeta-productos div:hover{
    transform: scale(1.2);
}

footer div a img:hover{
    transform: scale(1.3);
}



/*!----------PSEUDO ELEMENTOS-----------*/

header nav .container-fluid .navbar-brand::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

h1::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

h2::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

h3::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

p::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

.boton::selection{
    background-color: nth($paleta-colores, 4);
    color: $color-terciario;
}

header nav ul li a::selection{
    color: $color-secundario;
}